In [169]:
import pandas as pd

In [170]:
fd = pd.read_csv("../Datasets/features_format_cgrt.csv")
# cleaned data
cd = pd.read_csv("../Datasets/Wikipedia/cleaned_tests.csv")

In [171]:
cd.head()

,Unnamed: 0,country,date,n_tests,n_positive,pct_positive,test_by_million,pos_by_million
0,85,North Korea,2 Apr,709,0,0.00,28,0
1,65,Nepal,18 Apr,27467,30,0.11,978,1.1
2,60,Vietnam,18 Apr,206253,268,0.13,2089,2.7
3,1,United Arab Emirates,15 Apr,767000,5365,0.70,79901,559
4,58,Taiwan[a],18 Apr,52445,398,0.76,2205,17

In [172]:
cd[cd.country == 'Zimbabwe']

Empty DataFrame
Columns: [Unnamed: 0, country, date, n_tests, n_positive, pct_positive, test_by_million, pos_by_million]
Index: []

In [173]:
idx = cd[cd.country == 'Taiwan[a]'].index
cd.loc[idx, 'country'] = 'Taiwan'

In [174]:
# take only what we need
cd = cd[['country', 'pct_positive', 'test_by_million']]

In [175]:
cd.country.unique()

array(['North Korea', 'Nepal', 'Vietnam', 'United Arab Emirates',
       'Taiwan', 'New Zealand', 'Bahrain', 'Australia', 'Azerbaijan',
       'Palestine', 'Kyrgyzstan', 'Russia', 'South Korea', 'Lithuania',
       'Latvia', 'Malta', 'South Africa', 'Slovakia', 'Bulgaria',
       'Slovenia', 'Kazakhstan', 'Estonia', 'Czechia', 'Hungary',
       'Iceland', 'India', 'Poland', 'Norway', 'Egypt', 'Malaysia',
       'Belarus', 'Israel', 'Canada', 'Greece', 'Brazil', 'Finland',
       'Colombia', 'Montenegro', 'Nigeria', 'Thailand', 'Denmark',
       'Bosnia and Herzegovina', 'Germany', 'Barbados', 'Venezuela',
       'Pakistan', 'Austria', 'Singapore', 'Trinidad and Tobago', 'Japan',
       'Costa Rica', 'Chile', 'Romania', 'Ukraine', 'Bangladesh',
       'North Macedonia', 'Albania', 'Portugal', 'Croatia', 'Philippines',
       'Peru', 'Jamaica', 'Luxembourg', 'Armenia', 'Kosovo', 'Argentina',
       'Uruguay', 'Bolivia', 'Ireland', 'Mexico', 'Switzerland', 'Italy',
       'Turkey', 'Grenada', 'Indonesia', 'Sweden', 'Serbia', 'Spain',
       'United States', 'Netherlands', 'Panama', 'France', 'Iran',
       'Belgium', 'Ecuador', 'United Kingdom'], dtype=object)

In [176]:
fd.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Myanmar',
       'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Congo', 'Democratic Republic of the Congo',
       'Costa Rica', 'Cote dIvoire', 'Croatia', 'Cuba', 'Cura√ßao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'South Korea', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'United Republic of Tanzania', 'Thailand',
       'Timor Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos islands', 'United States of America', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Palestine', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [177]:
# rename united states
idx = cd[cd.country == 'United States'].index
cd.loc[idx, 'country'] = 'United States of America'
# remove north korea cause its useless
cd = cd[cd.country != 'North Korea']
# rezult: 84 from 86 countries

In [178]:
j = 0
for i, country_cd in enumerate(cd.country.unique()):
    found = False
    for country in fd.country.unique():
        if country_cd == country:
            j += 1
            print(f"{i}. Good: {country_cd}")
            found = True
    if not found:      
        print(f"{i}. No match: {country_cd}")

0. Good: Nepal
1. Good: Vietnam
2. Good: United Arab Emirates
3. Good: Taiwan
4. Good: New Zealand
5. Good: Bahrain
6. Good: Australia
7. Good: Azerbaijan
8. Good: Palestine
9. Good: Kyrgyzstan
10. Good: Russia
11. Good: South Korea
12. Good: Lithuania
13. Good: Latvia
14. Good: Malta
15. Good: South Africa
16. Good: Slovakia
17. Good: Bulgaria
18. Good: Slovenia
19. Good: Kazakhstan
20. Good: Estonia
21. Good: Czechia
22. Good: Hungary
23. Good: Iceland
24. Good: India
25. Good: Poland
26. Good: Norway
27. Good: Egypt
28. Good: Malaysia
29. Good: Belarus
30. Good: Israel
31. Good: Canada
32. Good: Greece
33. Good: Brazil
34. Good: Finland
35. Good: Colombia
36. Good: Montenegro
37. Good: Nigeria
38. Good: Thailand
39. Good: Denmark
40. Good: Bosnia and Herzegovina
41. Good: Germany
42. Good: Barbados
43. Good: Venezuela
44. Good: Pakistan
45. Good: Austria
46. Good: Singapore
47. Good: Trinidad and Tobago
48. Good: Japan
49. Good: Costa Rica
50. Good: Chile
51. Good: Romania
52. Good: Ukraine
53. Good: Bangladesh
54. Good: North Macedonia
55. Good: Albania
56. Good: Portugal
57. Good: Croatia
58. Good: Philippines
59. Good: Peru
60. Good: Jamaica
61. Good: Luxembourg
62. Good: Armenia
63. Good: Kosovo
64. Good: Argentina
65. Good: Uruguay
66. Good: Bolivia
67. Good: Ireland
68. Good: Mexico
69. Good: Switzerland
70. Good: Italy
71. Good: Turkey
72. Good: Grenada
73. Good: Indonesia
74. Good: Sweden
75. Good: Serbia
76. Good: Spain
77. Good: United States of America
78. Good: Netherlands
79. Good: Panama
80. Good: France
81. Good: Iran
82. Good: Belgium
83. Good: Ecuador
84. Good: United Kingdom

In [179]:
cd.columns

Index(['country', 'pct_positive', 'test_by_million'], dtype='object')

In [180]:
#country_dict = pd.read_csv("../country_dict_with_region.csv")

In [181]:
#country_dict["country"] = country_dict["country"].str.replace("_", " ")

In [182]:
#country_dict = country_dict.drop(columns="code")

In [183]:
#country_dict = country_dict.set_index("country")

In [184]:
#region_dict = country_dict.to_dict()["region"]

In [185]:
#cd["region"] = cd["country"].map(region_dict)

In [186]:
country_dict = pd.read_csv("../country_dict_with_region.csv")
country_dict["country"] = country_dict["country"].str.replace("_", " ")
country_dict = country_dict.drop(columns="code")

In [187]:
cd_m = country_dict.join(cd.set_index(['country']), on='country', how='left').reset_index(drop=True)

In [188]:
regions_avg = cd_m.groupby("region").mean()

In [189]:
pct_positive = regions_avg.drop(columns="test_by_million")
pct_positive_dict = pct_positive.to_dict()["pct_positive"]

test_by_million = regions_avg.drop(columns="pct_positive")
test_by_million_dict = test_by_million.to_dict()["test_by_million"]

In [190]:
cd_m.pct_positive = cd_m.pct_positive.fillna(cd_m.region.map(pct_positive_dict))
cd_m.test_by_million = cd_m.test_by_million.fillna(cd_m.region.map(test_by_million_dict))

In [191]:
fd.columns

Index(['date', 'country', 'confirmed', 'recovered', 'deaths', 'country_code',
       'S1_School closing', 'S1_IsGeneral', 'S2_Workplace closing',
       'S2_IsGeneral', 'S3_Cancel public events', 'S3_IsGeneral',
       'S4_Close public transport', 'S4_IsGeneral',
       'S5_Public information campaigns', 'S5_IsGeneral',
       'S6_Restrictions on internal movement', 'S6_IsGeneral',
       'S7_International travel controls', 'S8_Fiscal measures',
       'S9_Monetary measures', 'S10_Emergency investment in health care',
       'S11_Investment in Vaccines', 'S12_Testing framework',
       'S13_Contact tracing', 'StringencyIndex', 'StringencyIndexForDisplay'],
      dtype='object')

In [192]:
fd.shape

(17052, 27)

In [193]:
cd_m.shape

(202, 4)

In [194]:
fd_m = fd.join(cd_m.set_index(['country']), on='country', how='left').reset_index(drop=True)

In [195]:
fd_m.shape

(17052, 30)

In [196]:
fd_m.to_csv("../Datasets/features_format_cgrt_cd_IA.csv", index=False)