In [5]:
import os
import pandas as pd
import numpy as np
import torch
import sklearn

In [2]:
confirmed_path = '../Datasets/John_Hopkins/time_series_covid19_confirmed_global.csv'
deaths_path = '../Datasets/John_Hopkins/time_series_covid19_deaths_global.csv'
recovered_path = '../Datasets/John_Hopkins/time_series_covid19_recovered_global.csv'

In [3]:
confirmed_data = pd.read_csv(confirmed_path)
confirmed_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,444,484,521,555,607,665,714,784,840,906
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,400,409,416,433,446,467,475,494,518,539
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1572,1666,1761,1825,1914,1983,2070,2160,2268,2418
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,564,583,601,601,638,646,659,673,673,696
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,19